<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="fragment" content="!">
		<meta property="og:title" content="{{meta_title}}">
        <meta property="og:description" content="{{meta_description}}">
        <meta property="og:image" content="{{meta_image}}">
		<meta name="description" content="{{meta_description}}">
        <meta name="keywords" content="{{meta_keywords}}">
        <meta name="author" content="">
        <title>{{meta_title}}</title>
		<link rel="shortcut icon" href="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/vnd.microsoft.icon/1516979866096/old_favicon.ico" type="image/x-icon" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//preview-5a1891476e6f645140560000.codecloudapp.com/agile.css">
		<link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/v-calendar@0.5.2/lib/v-calendar.min.css'>
		<link href="https://cdn.jsdelivr.net/npm/vue2-animate@1.0.4/dist/vue2-animate.min.css" rel="stylesheet">
		<link href="//codecloud.cdn.speedyrails.net/sites/59282acb6e6f647d8d520100/text/css/1438916432000/ihover.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/9cb86d00ca.js"></script>
		<link rel="stylesheet" href="/style.css">
		<!--<script type="text/javascript">-->
  <!--          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
  <!--          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
  <!--          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
  <!--          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->
            
  <!--          ga('create', 'UA-115200481-1', 'auto');-->
  <!--          ga('send', 'pageview');-->
  <!--      </script>-->
        
	</head>
	<body>
	    {%raw-%}
		<div id="app" v-cloak>
			<loader v-if="!dataLoaded"></loader>
			<div class="main_content_container" v-if="dataLoaded">
			    <div class="sticky"><!--<div :class="{sticky : stickyMenu}">-->
    				<div class="top_bar">
    					<div class="site_container">
    						<div class="row top_bar_wrapper">
    							<div class="col-sm-6">
    								<div class="mobile_site_logo visible_phone">
        							    <router-link to="/"><img :src="property_logo" alt="Property Logo"/></router-link>
        						    </div>
    								<div id="home_hours_container" class="hidden_phone" v-if="todays_hours">
    									<p class="open_now"><span v-if="todays_hours.is_closed == null || !todays_hours.is_closed ">{{$t("header.open_today")}}</span><span v-else>{{$t("header.closed")}}</span> <span v-if="todays_hours.is_closed == null || !todays_hours.is_closed "><span style="margin:0 20px">|</span> {{todays_hours.open_time | moment("h:mma", timezone)}} - {{todays_hours.close_time | moment("h:mma", timezone)}} </span></p>
    								</div>
    							</div>
    							<div class="col-sm-6 hidden_phone text-right">
    								<div class="header_social">
    								    <social-links></social-links>
    								</div>
    								<router-link id="signup" to="/newsletter">{{$t("header.sign_up")}}</router-link>
    								<!--<span> <span @click="changeLocale('en-ca')"> en</span> | <span @click="changeLocale('fr-ca')">fr</span></span>-->
    							</div>
    							<div id="menu-icon" @click="show_mobile_menu = !show_mobile_menu" :class="{ open: show_mobile_menu}">
    								<span></span>
    								<span></span>
    								<span></span>
    								<span></span>
    							</div>
    							<div class="mobile_nav_container visible_phone">
    							    <transition name="custom-classes-transition" enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
        								<nav id="mobile_nav" v-show="show_mobile_menu">
        									<ul>
        										<div class="mobile_menu_site_logo">
        											<router-link to="/"><img :src="property_logo" alt="Property Logo"/></router-link>
        										</div>
        										<li v-for="item in menu_items" class="menu_item">
            								        <router-link :to="item.href">{{$t(item.name)}}</router-link>
            								        <ul v-if="item.sub_menu">
            								            <li v-for="sub_menu in item.sub_menu" class="dropdown_item">
            								                <a v-if="sub_menu.external" :href="sub_menu.href" target="_blank">{{$t(sub_menu.name)}}</a>
            								                <router-link v-else :to="sub_menu.href">{{$t(sub_menu.name)}}</router-link>
            								            </li>
            										</ul>
            								    </li>
        									</ul>
        									<div class="small_hr"></div>
        									<div class="tel_num" v-if="property">
                                                <a :href="'tel:'+property.contact_phone">{{property.contact_phone}}</a>
                                            </div>
                                            <div>
                                               <p style="display:block"> {{property.address1}}</p>
                                                <p style="display:block">{{property.city}}, {{property.postal_code}} {{property.province_state}}</p>
                                            </div>
        									<div class="header_social">
                                                <social-links></social-links>
        									</div>
        									<div class="small_hr"></div>
        								</nav>
    								</transition>
    							</div>
    						</div>
    					</div>
    				</div>
    				<div class="menu_bar hidden_phone">
        				<div class="site_container">
        					<div class="nav_container hidden_phone">
        						<div class="site_logo">
        							<router-link to="/"><img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/png/1519142064997/bonnielogoBlack3x.png" alt="Property Logo"/></router-link>
        						</div>
        						<div class="row top_nav hidden_phone">
        							<nav id="primary_nav">
        								<ul>
        								    <li v-for="item in menu_items" class="menu_item">
        								        <router-link :to="item.href">{{$t(item.name)}}</router-link>
        								        <ul v-if="item.sub_menu">
        								            <li v-for="sub_menu in item.sub_menu" class="dropdown_item">
        								                <a v-if="sub_menu.external" :href="sub_menu.href" target="_blank">{{$t(sub_menu.name)}}</a>
            								            <router-link v-else :to="sub_menu.href">{{$t(sub_menu.name)}}</router-link>
        								            </li>
        										</ul>
        								    </li>
        								</ul>
        							</nav>
        						</div>
        					</div>
        				</div>
    				</div>
				</div>
				<transition name="custom-classes-transition" enter-active-class="fadeIn">
					<router-view class="router_content" :locale="locale"></router-view>
				</transition>
				<div class="home_subscription hidden_phone">
                    <div class="subscribeBlog content_container">
                         <h4 class="caps">{{$t("footer.stay_uptodate")}}</h4> 
                         <div id="newsletterBlogForm">
                            <label for="fieldEmail" style="display:none"></label>
                            <input id="fieldEmail" name="cm-tkyhii-tkyhii" class="form-control" type="email" v-model="newsletter_email" :placeholder="$t('footer.enter_email')" required/> 
                            <router-link class="contact_btn" data-i18n="general.submit" :to="'/newsletter?email='+ newsletter_email"><i class="fa fa-arrow-right"></i></router-link>
                            
                            <span id="success_subscribe" class="hidden_now">{{$t("footer.subscribe_thankyou")}}</span>
                         </div>
                    </div>
                </div>
				<div class="footer">
					<div class="site_container">
						<!--<div class="site_logo visible_phone">-->
						<!--	<router-link to="/"><img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/png/1518204428289/bonnielogoWhite3x.png" alt="Property Logo"/></router-link>-->
							
						<!--</div>-->
						<div class="footer_logos">
							<div class="site_logo ">
								<router-link to="/"><img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/png/1518204428289/bonnielogoWhite3x.png" alt="Property Logo"/></router-link>
							</div>
							<div class="footer_property">
								<a href="https://www.morguard.com/" target="_blank">
								<img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/png/1524517405981/Morguard_White_3.5inch.png" class="" alt="">
								</a>
							</div>
							<div class="safe_emplyer_logo">
							    <a href="https://www.morguard.com/news-knowledge/posts/cse2017-silverwin" target="_blank">
								    <img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/png/1524507714020/CSE2017winnersbadge_silver.png" alt="Property Logo"/>
								</a>
							</div>
						</div>
						<div class="footer_nav hidden_phone">
						    <nav id="primary_nav">
								<ul>
								    <li v-for="item in menu_items" class="menu_item">
								        <router-link :to="item.href">{{$t(item.name)}}</router-link>
								    </li>
								</ul>
							</nav>
					    </div>
						<!--<div class="footer_property">-->
						<!--    <a href="https://www.morguard.com/" target="_blank">-->
						<!--    <img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/png/1520125891440/managed_by_logo.png" class="" alt=""></a><img src="//codecloud.cdn.speedyrails.net/sites/5ae0d66d6e6f6412f32c0000/image/jpeg/1520125615042/Morguard-CSE-winners-badge_silver.jpg" class="" alt="">-->
						<!--</div>-->
						<div class="footer_terms">
							<p>&copy; {{copyright_year}}<span class="caps"> {{property.name}}</span> {{$t("footer.all_rights")}}<router-link to="/pages/bonniedoon-privacy-policy"> {{$t("footer.privacy_policy")}} </router-link> <span class="hidden_phone">|</span><br class="visible_phone"/><span> {{$t("footer.powered_by")}}<a href="//www.mallmaverick.com" target="_blank"> Mall Maverick</a></span></p>
							<!--<p>Powered by <a href="//www.mallmaverick.com" target="_blank">Mall Maverick</a></p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		{%endraw-%}
		<div class='modal-backdrop custom_backdrop hidden_now' id="popup_backdrop"></div>
		<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/es6-shim@0.35.3/es6-shim.min.js"></script>
		<script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	</body>
</html>